/* ||| Primary colors ||| */
$primary-Soft-blue: hsl(215, 51%, 70%);
$primary-Cyan: hsl(178, 100%, 50%);

/* ||| nuetral colors ||| */
$Very-dark-blue-mainBG: hsl(217, 54%, 11%);
$Very-dark-blue-cardBG: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

/* ||| fonts ||| */
$font-size-paragraph: 1.8rem;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$gap: 2rem;